services:
  web:
    build: .
    container_name: instaclone-web
    command: >
      sh -c "python manage.py migrate &&
             daphne -b 0.0.0.0 -p 8000 instagram.asgi:application"
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
