name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: instagram
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: adminpassword
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U admin -d instagram"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      POSTGRES_DB: instagram
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      GITHUB_ACTIONS: "true"

    steps:
      - uses: actions/checkout@v3

      - name: Debug folder structure
        run: |
          echo "Current directory:"
          pwd
          echo "Listing:"
          ls -R .

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
