name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: instagram
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: adminpassword
        ports:
          - 5432:5432

    env:
      DJANGO_SETTINGS_MODULE: instagram_clone.settings
      PYTHONPATH: ${{ github.workspace }}/Real-Time-Instagram-Style-Application-with-Redis-Pub-Sub-Model/Real-Time-Instagram-Style-Application-with-Redis-Pub-Sub-Model
      POSTGRES_DB: instagram
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432

    steps:
      - uses: actions/checkout@v3

      - name: Debug
        run: |
          echo "WORKSPACE = $GITHUB_WORKSPACE"
          pwd
          ls -R .

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run migrations
        run: python manage.py migrate --noinput

      - name: Run tests
        run: pytest -vv
